<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="index-header-script">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Application Dashboard</title>
    <meta th:name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta th:name="description" content="Elephant is a front-end template created to help you build modern web applications, fast and in a professional manner." />
    <link th:rel="apple-touch-icon" th:sizes="180x180" th:href="@{/static/img/apple-touch-icon.png}" />
    <link th:rel="icon" type="image/png" th:href="@{/static/img/favicon-32x32.png}" th:sizes="32x32" />
    <link th:rel="icon" type="image/png" th:href="@{favicon-16x16.png}" th:sizes="16x16" />
    <link th:rel="manifest" th:href="@{/static/js/manifest.json}" />
    <link th:rel="mask-icon" th:href="@{/static/img/safari-pinned-tab.svg}" th:color="#d9230f" />
    <meta th:name="theme-color" content="#ffffff" />
    <link th:href="@{/static/css/font_google_roboto_italic.css}" th:rel="stylesheet" />
    <!--<link th:href="@{//fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700}" th:rel="stylesheet" />-->
    <!--<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}" rel="stylesheet" type="text/css" />-->
    <link th:href="@{/static/css/vendor.minf9e3.css?v=1.1}" th:rel="stylesheet"/>
    <link th:href="@{/static/css/elephant.minf9e3.css?v=1.1}" th:rel="stylesheet"/>
    <link th:href="@{/static/css/application.minf9e3.css?v=1.1}" th:rel="stylesheet"/>
</head>
</html>