<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body>
<div class="navbar-header" th:fragment="header-main-icon">
    <a class="navbar-brand navbar-brand-center" href="index-2.html">
        <object class="navbar-brand-logo" type="image/svg+xml" th:data="@{/static/img/logo-inverse.svg}">
            can not display svg here
        </object>
    </a>
    <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#sidenav">
        <span class="sr-only">Toggle navigation</span>
            <span class="bars">
              <span class="bar-line bar-line-1 out"></span>
              <span class="bar-line bar-line-2 out"></span>
              <span class="bar-line bar-line-3 out"></span>
            </span>
            <span class="bars bars-x">
              <span class="bar-line bar-line-4"></span>
              <span class="bar-line bar-line-5"></span>
            </span>
    </button>
</div>
</body>
</html>